* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.top {
    background-color: #1F2937;
    color: #f9faf8;
}

header {
    justify-content: space-around;
    padding: 15px;
}

header p {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 25px;
}

.hero {
    justify-content: space-around;
    padding: 50px;
}

.hero-text,
.hero-img {
    width: 400px;
}

.hero-img {
    background-color: gray;
    color: #e5e7eb;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #f9faf8;
}

.info-container {
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 15px;
}

.illustration {
    border: 3px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;

}

.cube p {
    margin-top: 10px;
    margin-bottom: 60px;
}